body {
  background-color: #fff;
  font: normal 15pt Arial;
}

h1 {
  color: blueviolet;
  margin: 50px 0;
}

input {
  border: 3px solid rgb(170, 34, 233);
  background-color: #b0e0e6;
  border-radius: 8px;
  font-size: 18px;
font-weight: bold;
}

#botao {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  line-height: 0em;
  max-width: 100%;
  min-width: 130px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

img {
  margin: 20px;
  width: 50%;
  object-fit: cover;
  border-radius: 20px;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
  text-align: center;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #dccce7, #8a81c9 50%, #00ddeb);
}

div#resultado {
  text-align: center;
  color: #fff;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}
